.myDiv {

  justify-content: space-around;
  margin: 3px;
  padding: 2px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.item {
  width: 30%;
  margin: 3px;
}

.heading{

  margin: 12px;
}
.btn{ 
  margin: 7px; 
} 
h5{
  font-size: 0.8rem;
}
.user-1{

  padding: 2px;
  font-weight: 400;
}
.user-2{
   padding: 2px;
  font-weight: 400;
}

.user-3{

  font-weight: 400;
  padding: 2px;

}
.link-1{
  text-decoration: underline;
}
